[submodule ".magic-context"]
	path = .magic-context
	url = git@github.com:igamenovoer/magic-context.git
	branch = main
[submodule "model_zoo/FlowMDM"]
	path = model_zoo/FlowMDM
	url = https://github.com/imsight-forks/FlowMDM.git
	branch = main
	ignore = dirty
[submodule "igpy"]
	path = igpy
	url = git@github.com:igamenovoer/igpy.git
	branch = main
